<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/CSS/about.css">
    <link rel="stylesheet" href="/CSS/home.css">
</head>
<body> 
    <header>
        <a href="/home">
            <img src="/Images/logof.png" alt="Logo" class="logo">
        </a>
        <nav class="navigation">
            <a href="/home">Home</a>
            <div class="dropdown">
                <a href="/MainMenu" class="menu-link">Menu</a>
                <div class="dropdown-content">
                    <a href="/appetizers">Appetizers</a>
                    <a href="/mainDishes">Main Course</a>
                    <a href="/desserts">Desserts</a>
                    <a href="/drinks">Beverages</a>
                </div>
            </div>
            <a href="/about">About</a>
            <a href="/reservation">Reservation</a>
            <a href="/myProfile">My Profile</a>
        </nav>
    </header>

    <section class="content">
        <img class="about" src="/Images/about.jpg" alt="about image">
        <h1>Welcome to Our Mexican Restaurant!</h1>
        <p><%= aboutText %></p>
    </section>
    <footer>
        <p>&copy; 2024 Mexican Restaurant. All rights reserved.</p>
    </footer>
</body>
</html>
