<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/drinks.css">
    <link rel="stylesheet" href="CSS/home.css">
    <title>Drinks</title>
</head>
<body>
    <header>
        <a href="#">
            <img src="Images/logof.png" alt="Logo" class="logo">
        </a>
        <nav class="navigation">
            <a href="/home">Home</a>
            <div class="dropdown">
                <a href="/MainMenu" class="menu-link">Menu</a>
                <div class="dropdown-content">
                    <a href="/appetizers">Appetizers</a>
                    <a href="/mainDishes">Main Course</a>
                    <a href="/desserts">Desserts</a>
                    <a href="/drinks">Beverages</a>
                </div>
            </div>
            <a href="/about">About</a>
            <a href="/reservation">Reservation</a>
            <a href="/myProfile">My Profile</a>
        </nav>
    </header>

    <h1 class="drinkstitle">DRINKS</h1>

    <div class="drinksmenu">
        <div class="drink">
            <img class="drinksimages" src="Images/LA GRANDE MARGARITA.jpg">
            <h2 class="drinksname">LA GRANDEZA MARGARITA</h2>
            <p class="drinkdescription">Abuelo's House Margarita; Citrus Liqueur, Gran Gala, Fresh Lime, Kosher Salt Rim.</p>
            <pre class="prices">75 EGP</pre>
        </div>

        <div class="drink">
            <img class="drinksimages" src="Images/Spanish Sangria.jpg">
            <h2 class="drinksname">SPANISH SANGRIA ROJA</h2>
            <p class="drinkdescription">Our Spanish Sangria Roja combines Gran Gala liqueur, Orange Fanta, and grapefruit blend to create a festive flavor with fresh strawberries, lemon, lime, and grilled oranges.</p>
            <pre class="prices">90 EGP</pre>
        </div>

        <div class="drink">
            <img class="drinksimages" src="Images/SANGRIA SWIRL.jpg">
            <h2 class="drinksname">SANGRIA SWIRL</h2>
            <p class="drinkdescription">Frozen Sangria swirled with frozen La Grandeza Margarita.</p>
            <pre class="prices">85 EGP</pre>
        </div>

        <div class="drink">
            <img class="drinksimages" src="Images/El_Jefe.jpg">
            <h2 class="drinksname">EL JEFE MARGARITA - HAND-SHAKEN</h2>
            <p class="drinkdescription">A blend of ultra premium Maestro Dobel Diamante Tequila hand-selected, private barrels for Abuelo's, Agavero Orange Liqueur and fresh citrus, topped with a grilled orange and kosher salt rim.</p>
            <pre class="prices">100 EGP</pre>
        </div>

        <div class="drink">
            <img class="drinksimages" src="Images/water.jpg">
            <h2 class="drinksname">Water</h2>
            <p class="drinkdescription">Water Bottle 500ml</p>
            <pre class="prices">13 EGP</pre>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Mexican Restaurant. All rights reserved.</p>
        <p><a href="privacy.html">Privacy Policy</a> | <a href="terms.html">Terms of Service</a></p>
    </footer>

</body>
</html>
